@font-face{
  font-family: MagicRing;
  src: url(MagicRing.ttf);
}

body {
    background:black;
}
/*
 *
 * *******************
 * Ring
 * *******************
 *
 */
.ring{
    font: 24px MagicRing, Monaco, MonoSpace;
    color:white;
    text-shadow:-1px  1px 20px rgba(237, 112, 215, 0.7),
                 1px  1px 20px rgba(237, 112, 215, 0.7),
                 1px -1px 20px rgba(237, 112, 215, 0.7),
                -1px -1px 20px rgba(237, 112, 215, 0.7);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width:20px;
    height:20px;
    margin: auto;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
}

/*
 *
 * *******************
 * Ring Text
 * *******************
 *
 */
#Ring1 span {height:150px;}
#Ring2 span {height:250px;}
#Ring3 span {height:350px;}
#Ring4 span {height:450px;}
#Ring5 span {height:550px;}

.ring span {
  position: absolute;
  margin:auto;top:0;left:0;bottom:0;right:0;
    width:20px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}

/*
 *
 * *******************
 * Animation
 * *******************
 *
 */
 
.ring:nth-child(2n) {
    -webkit-animation: counter-clockwise 50s linear infinite; /* Chrome, Safari, Opera */
    animation: counter-clockwise 50s linear infinite;
}
.ring:nth-child(2n+1) {
    -webkit-animation: clockwise 50s linear infinite; /* Chrome, Safari, Opera */
    animation: clockwise 50s linear infinite;
}

/* 
 * *******************
 * 逆時針動畫
 * *******************
 */
@keyframes counter-clockwise {
  from {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
  to   {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}
}
/* Safari and Chrome */
@-webkit-keyframes counter-clockwise {
  from {-webkit-transform: rotate(0deg);-o-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);-o-transform: rotate(360deg);}
} 

/* 
 * *******************
 * 順時針動畫
 * *******************
 */
@keyframes clockwise {
  from {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(-360deg);-moz-transform: rotate(-360deg);-ms-transform: rotate(-360deg);-o-transform: rotate(-360deg);transform: rotate(-360deg);}
}
/* Safari and Chrome */
@-webkit-keyframes clockwise {
  from {-webkit-transform: rotate(0deg);-o-transform: rotate(0deg);}
  to {-webkit-transform: rotate(-360deg);-o-transform: rotate(-360deg);}
}
